/AIAA2205/hw*/data
/AIAA2205/hw*/backups
/AIAA2205/hw*/models
/AIAA2205/hw*/run
/AIAA2205/hw*/output
/AIAA2205/hw3-*
__pycache__
.DS_Store
UFUG2601/HW3/Game2048/GUI/debug/object_script.Game2048.Debug
UFUG2601/HW3/Game2048/GUI/Makefile.Debug
UFUG2601/HW3/Game2048/GUI/Makefile.Release
*.o
*.exe
UFUG2601/HW3/Game2048/GUI/release/moc_predefs.h
UFUG2601/HW3/Game2048/GUI/release/moc_mainwindow.cpp
UFUG2601/HW3/Game2048/GUI/release/qrc_fonts.cpp
UFUG2601/HW3/Game2048/GUI/ui_mainwindow.h
UFUG2601/HW3/Game2048/GUI/release/object_script.Game2048.Release
UFUG2601/HW3/Game2048/GUI/release/moc_gameboard.cpp
UFUG1601/TicTacToe/__pycache__/
*.stash
a.out
.vscode/c_cpp_properties.json
a.log
AIAA2205/hw1/backups
a.out.dSYM
